
.hero-romo{
    display: flex;
    min-height: 40vh;
    position: relative;
    background-image: url(/img/hero2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(9, 15, 17, 0.6);
}
.hero-romo::after{
    content: '';
  
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    background-color: rgba(9, 15, 17, 0.6);
}

.hero-romo .container {
    position: relative;
    z-index: 1;
}

.blog-romo{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    text-align: justify;
}