
.heroSejarah{
    display: flex;
    min-height: 40vh;
    position: relative;
    background-image: url(../img/Sejarah.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(9, 15, 17, 0.6);
}

.heroSejarah::after{
    content: '';
  
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    background-color: rgba(9, 15, 17, 0.6);
}

.heroSejarah .container {
    position: relative;
    z-index: 1;
}

.blogSejarah{
    min-height: 100vh;
}