* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFFFA;
}

.navbar {
    padding: 8px;
}

.navbar .nav-item {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.navbar .nav-item .nav-link {
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.navbar.transparent {
    background-color: transparent !important;
    transition: background-color 0.5s ease-in-out;
}
.navbar.white {
    background-color: white !important;
    transition: background-color 0.5s ease-in-out;
}
.navbar.white .nav-link {
    color: black !important;
}

.list-right {
    list-style-position: inside;
}

.symbol-right {
    position: relative;
}

.symbol-right::before {
    content: '\2023';
    position: absolute;
    left: -20px;
}




.home-hero {
    display: flex;
    background-position: center;
    min-height: 70vh;
    background-image: url(../img/hero-BG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

#schedule {
    opacity: 0;
    transform: translateX(-50px); /* Geser elemen ke kiri di luar layar */
    transition: opacity 1s ease, transform 1s ease; /* Animasi perubahan opacity dan transformasi */
}

#sekretariat {
    opacity: 0;
    transform: translateX(50px); /* Geser elemen ke kanan di luar layar */
    transition: opacity 1s ease, transform 1s ease; /* Animasi perubahan opacity dan transformasi */
}





/* RESPONSIVVVV */
/* FOOTER*/


